<% include fns.ejs %>

<template>
  <v-app id="inspire">
  <div id='toptable'>
    <div id='createnew'>
      <v-btn to='/entities/<%= name %>/new'  color="primary">
          <v-icon>add</v-icon>
          Create new <%= name %>
      </v-btn>
    </div>
    <search></search>
  </div>
  <div  v-show='areAllChecked'>
    <v-btn @click='deleteAll'>Delete all
          <v-icon color="red">delete</v-icon>
    </v-btn>
    <v-btn @click='deleteAll'>Print 1
    <v-icon color="block">print</v-icon>
    </v-btn>
    <v-btn @click='deleteAll'>Print 2
      <v-icon color="block">print</v-icon>
    </v-btn>
    <v-btn @click='deleteAll'>Print 3
      <v-icon color="block">print</v-icon>
    </v-btn>
    <div id='selectLabels'>
      <v-select
          :items="labels"
          v-model="selectedLabels"
          label="Label"
          multiple
          chips
          item-avatar='search'
        >
          <template slot='item' scope='label'>
            <v-list-tile-avatar>
              <div class='greenlabel'></div>
            </v-list-tile-avatar>
            <v-checkbox></v-checkbox>
            <v-list-tile-content>
              <v-list-tile-title v-html="label.item.text"></v-list-tile-title>
            </v-list-tile-content>
          </template>
        </v-select>
    </div>
  </div>
 <delete-dialog store-name="<%=toLower(name)%>"></delete-dialog>
 <v-data-table
    :headers="headers"
    :items="products"
    :loading='loading'
    class="elevation-1"
    :pagination.sync='pagination'
    :total-items='totalItems'
    :rows-per-page-items="[10,20,50]"
    select-all
  >
    <template slot="headers" slot-scope="props">
      <product-table-head :data.sync='props' :pagination.sync='pagination' :indeterminite.sync='indeterminite' :allChecked.sync='areAllChecked'></product-table-head>
    </template>
    <template slot="items" slot-scope="props">
        <product-table-body :headers = 'headers' :items = 'props' store-name="<%=toLower(name)%>"></product-table-body>
    </template>
  </v-data-table>
  </v-app>
</template>

<script>
  import table from '../../mixins/Table'
  import {createStore} from '../../../storex/'

	export default {
      mixins: [table("<%=toLower(name)%>")],
      data: () => ({
        headers: [
          <% fields.forEach(field=>{%>
            { text: "<%=toSpaced(field.fieldName)%>", value: "<%=field.fieldName%>" },
          <%})%>
          <% for(relationship of relationships) { %>
            { text: "<%=toSpaced(relationship.relationshipName)%>", value: "<%=relationship.relationshipName%>" },
          <% }%>
          { text: 'Actions', value: 'actions', sortable: false }
        ],

      }),
      beforeCreate() {
        this.$store = createStore('<%=toLower(name)%>', '')
      },
	}
</script>
<style>
  #createnew {
    display: inline-block;
  }
  #selectLabels {
    display: inline-block;
  }
  .greenlabel {
    background: green;
    width: 30px;
    height: 30px;
  }
</style>