<% include fns.ejs %>

<template>
 <v-app id="inspire">
  <div id='toptable'>
    <div id='createnew'>
      <v-btn to='/entities/Product/new'  color="primary">
          <v-icon>add</v-icon>
          Create new Product
      </v-btn>
    </div>
   <search></search>
   <div id='filterlabels'>
    <filter-labels :change='getData'></filter-labels>
   </div>
  </div>
    <div  v-show='areAllChecked'>
      <v-btn @click='deleteAll'>Delete all
            <v-icon color="red">delete</v-icon>
      </v-btn>
      <v-btn @click='deleteAll'>Print 1
        <v-icon color="block">print</v-icon>
      </v-btn>
      <v-btn @click='deleteAll'>Print 2
        <v-icon color="block">print</v-icon>
      </v-btn>
      <v-btn @click='deleteAll'>Print 3
        <v-icon color="block">print</v-icon>
      </v-btn>
      <div id='selectLabels'>
        <select-labels v-on:selected='selectLabels' store-name="<%=toLower(name)%>"></select-labels>
      </div>
    </div>
 <delete-dialog store-name="<%=toLower(name)%>"></delete-dialog>
 <v-data-table
    :headers="headers"
    :items="products"
    :loading='loading'
    class="elevation-1"
    :pagination.sync='pagination'
    :total-items='totalItems'
    :rows-per-page-items="[1,10,20,50]"
    select-all
  >
    <template slot="headers" slot-scope="props">
      <product-table-head :data.sync='props' :pagination.sync='pagination' :indeterminite.sync='indeterminite' :allChecked.sync='areAllChecked'></product-table-head>
    </template>
    <template slot="items" slot-scope="props">
        <product-table-body :headers = 'headers' :items = 'props' store-name="product"></product-table-body>
    </template>
  </v-data-table>

  </v-app>
</template>

<script>
  import table from '../../mixins/Table'
  import {createStore} from '../../../storex/'
  import SelectLabels from '../../common/SelectLabels.vue'
  import FilterLabels from '../../common/FilterLabels.vue'

	export default {
      mixins: [table("<%=toLower(name)%>")],
      data: () => ({
        headers: [
          <% fields.forEach(field=>{%>
            { text: "<%=toSpaced(field.fieldName)%>", value: "<%=field.fieldName%>" },
          <%})%>
          <% for(relationship of relationships) { %>
            { text: "<%=toSpaced(relationship.relationshipName)%>", value: "<%=relationship.relationshipName%>" },
          <% }%>
          { text: 'Actions', value: 'actions', sortable: false }
        ],
        labels: [
          {text:'completed', value:1},
          {text:'in progress', value:2}
        ],
        selectedLabels: [],
      }),
      computed: {
        checkedDeleted() {
          return this.$store.state.table.product.checkedDeleted
        },
      },
      methods: {
        selectLabels(labels) {
          this.getData({labels})
        }
      },
      beforeCreate() {
        this.$store = createStore('<%=toLower(name)%>', '')
      },
      components: {
        SelectLabels,
        FilterLabels,
      }
	}
</script>
<style>
  #toptable {
    display: flex;
  }
  #createnew {
    display: inline-block;
    align-self: center;
  }
  #selectLabels {
    display: inline-block;
  }
  #filterlabels {
    display: inline-block;
    margin-left: 10px;
  }
  #filterlabels .v-select.v-select--chips .v-select__selections  {
    min-height: initial;
  }
  .greenlabel {
    background: green;
    width: 30px;
    height: 30px;
  }
</style>