<% include fns.ejs %>

<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>View product</v-toolbar-title>
                <v-spacer></v-spacer>

              </v-toolbar>
              <v-card-text>
                <% for(field of fields) { %>
                  <div><v-chip label><%=toSpaced(field.fieldName)%></v-chip>{{<%=field.fieldName%>}}</div>
                <% }%>
                <% for(relationship of relationships) { %>
                  <div><v-chip label><%=toSpaced(relationship.relationshipName)%></v-chip>{{<%=relationship.relationshipName%>}}</div>
                <% }%>   
                <v-btn @click='back'><v-icon right dark>arrow_back</v-icon> Back</v-btn>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
    let store = require('../../../store/<%=toLower(name)%>').default
    let getEntityById = store.getEntityById;
    
		export default {
		data: () => ({
      <% fields.forEach(field=>{%>
        <%
          let fType = field.fieldType;
          let val;
          if(fType == 'String') val = '""';
          if(['Integer','BigDecimal','Long','Float','Double', 'LocalDate', 'Instant', 'ZonedDateTime'].includes(fType)) {
            val = '""';
          }
          if(fType == 'Enumeration') val = [];
        %>
        <%=field.fieldName%>: <%-val%>,
      <%})%>
      <% for(relationship of relationships) { %>
        <%=relationship.relationshipName%>: '',
      <% } %>
		}),
    created() {
      this.getData();
    },
		methods: {
      async getData() {
        try {
          let entity = await getEntityById(this.$route.params.id);
          <% for(field of fields) { %>
            this.<%=field.fieldName%> = entity.<%=field.fieldName%>;
          <% } %>
          <% for(relationship of relationships) { %>
            this.<%=relationship.relationshipName%> = entity.<%=relationship.relationshipName%>Id
          <% } %>
        }
        catch(err) {console.log(err)}
      },
      back() {
        this.$router.go(-1)
      }
		}
	}
</script>
<style scoped>
	
</style>