<% include fns.ejs %>

<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>View <%=toLower(name)%></v-toolbar-title>
                <v-spacer></v-spacer>

              </v-toolbar>
              <v-card-text>
                <% for(field of fields) { %>
                  <% if(field.fieldType == 'Html') { %>
                    <div><v-chip label><%=toSpaced(field.fieldName)%></v-chip><div v-html="<%=field.fieldName%>"></div></div>
                  <% } 
                  <% if(field.fieldType == 'byte[]') { %> 
                    <a :href='<%=field.fieldName%>' download>Download file</a> 
                  <% } 
                  else if(field.fieldType == 'String' && field.fieldValues != undefined) { %>
                    <div><v-chip label><%=toSpaced(field.fieldName)%></v-chip><div>
                      <v-chip v-for='val in <%=field.fieldName%>' :key='val' color="primary" text-color="white">{{val}}</v-chip>
                    </div></div>
                  <% }
                  else { %>
                  <div><v-chip label><%=toSpaced(field.fieldName)%></v-chip>{{<%=field.fieldName%>}}</div>
                  <% } %>
                <% }%>
                <% for(relationship of relationships) { 
                  if(!(relationship.relationshipType == 'many-to-many' && relationship.ownerSide==false)) {
                    if(relationship.relationshipType == 'many-to-many') {
                %>
                  <div><v-chip label><%=toSpaced(relationship.relationshipName)%></v-chip>
                        <v-chip color="primary" text-color="white" v-for='i of <%=relationship.relationshipName%>'>{{i.<%=relationship.otherEntityField%>}}</v-chip>
                  </div>
                <% } else { %>
                  <div><v-chip label><%=toSpaced(relationship.relationshipName)%></v-chip>{{<%=relationship.relationshipName%>}}</div>
                <% } } }%>   
                <v-btn @click='back'><v-icon right dark>arrow_back</v-icon> Back</v-btn>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
    let store = require('../../../store/<%=toLower(name)%>').default
    let getEntityById = store.getEntityById;
    
		export default {
		data: () => ({
      <% fields.forEach(field=>{%>
        <%
          let fType = field.fieldType;
          let val;
          if(fType == 'String') val = '""';
          if(['Integer','BigDecimal','Long','Float','Double', 'LocalDate', 'Instant', 'ZonedDateTime', 'Boolean', 'byte[]'].includes(fType)) {
            val = '""';
          }
          if(fType == 'String' && field.fieldValues != undefined) val = [];
        %>
        <%=field.fieldName%>: <%-val%>,
      <%})%>
      <% for(relationship of relationships) { %>
        <%=relationship.relationshipName%>: '',
      <% } %>
		}),
    created() {
      this.getData();
    },
		methods: {
      async getData() {
        try {
          let entity = await getEntityById(this.$route.params.id);
          <% for(field of fields) { %>
            this.<%=field.fieldName%> = entity.<%=field.fieldName%>;
          <% } %>
            <% for(relationship of relationships) {
              if(!(relationship.relationshipType == 'many-to-many' && relationship.ownerSide==false)) {
            %>
              <%
                if(relationship.relationshipType == 'many-to-many') {
              %>
                this.<%=relationship.relationshipName%> = entity.<%=relationship.relationshipName%>s
              <% } else  { %>
              this.<%=relationship.relationshipName%> = entity.<%=relationship.relationshipName%><%=firstToUpper(relationship.otherEntityField)%>
              <% } %>
            <% } } %> 
        }
        catch(err) {console.log(err)}
      },
      back() {
        this.$router.go(-1)
      }
		}
	}
</script>
<style scoped>
	
</style>